@{
    ViewBag.Title = "adminpanel";
}

<h2>adminpanel</h2>
 
   <a href="/Home/showcust">show customers</a><br />
   <a href="/Home/showbookings">show bookings</a><br />
   <a href="">change images</a>

   